 
 body{
   font-family: Arial, Helvetica, sans-serif;
 }
.nav-link:hover{
color: red!important;
}
.text{
    color: rgb(253, 122, 74);
    text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
/* mint  */
.pb-5 img{
width: 80%;
animation: mint 5s infinite;
animation-duration: alternate;
}
@keyframes mint{
   0%{
      transform: translatey(0);
  }
  50%{
      transform: translatey(-10% );
  }
  100%{
   transform: translatey(0 );
}


}
.navbar-nav .btn{
   width: 115px;
   margin: auto;
   margin-top: 5px;
background-color:rgb(190, 5, 5) ;
color: white;

}
.navbar-nav .btn:hover{
   
background-color:white ;
color:rgb(112, 14, 14) ;

}
.col-md-6 .btn{
   background-color:rgb(112, 14, 14);
   width: 115px;
   margin: auto;
   margin-top: 5px;
   color: white;
}
.col-md-6 .btn:hover{
  background-color: #ffffff;
  color:rgb(190, 5, 5) ;
}


    /* this animation of lion  */
    .title {
        text-align: center;
        color: #333;
        font: 24px Helvetica, Arial, serif;
      }
      .creds {
        text-align: center;
        color: #666;
        font: 12px Helvetica, Arial, serif;
      }
      .creds a {
        color: #000;
        text-decoration: none;
        border-bottom: 1px dotted #000;
      }
      .three-d-container{
      margin:30px auto;
      width:300px;
      height:300px;
      border-radius: 3px;
      position:relative;
      -webkit-perspective:1000px;
         -moz-perspective:1000px;
          -ms-perspective:1000px;
           -o-perspective:1000px;
              perspective:1000px;
      -webkit-box-shadow:0 20px 60px rgba(0,0,0,0.2),               0 0 40px rgba(0,0,0,0.2) inset;
         -moz-box-shadow:0 20px 60px rgba(0,0,0,0.2),               0 0 40px rgba(0,0,0,0.2) inset;
              box-shadow:0 20px 60px rgba(0,0,0,0.2),               0 0 40px rgba(0,0,0,0.2) inset;
      }
      .three-d-cube{
      width:100%;
      height:100%;
      position:absolute;
      -webkit-transition:-webkit-transform 1s;
         -moz-transition:   -moz-transform 1s;
           -o-transition:     -o-transform 1s;
              transition:        transform 1s;
      -webkit-transform-style:preserve-3d;
         -moz-transform-style:preserve-3d;
          -ms-transform-style:preserve-3d;
           -o-transform-style:preserve-3d;
              transform-style:preserve-3d;
      -webkit-transform:translateZ( -150px );
         -moz-transform:translateZ( -150px );
          -ms-transform:translateZ( -150px );
           -o-transform:translateZ( -150px );
              transform:translateZ( -150px );
      }
      .three-d-cube .three-d-item{
      width:100%;
      height:100%;
      display:block;
      margin:0;
      position:absolute;
      }
      .three-d-cube .three-d-item img{
      width:100%;
      height:100%;
      display:block;
      margin:0;
      }
      .three-d-item:nth-child(1){
      -webkit-transform:rotateY(   0deg ) translateZ( 150px );
         -moz-transform:rotateY(   0deg ) translateZ( 150px );
          -ms-transform:rotateY(   0deg ) translateZ( 150px );
           -o-transform:rotateY(   0deg ) translateZ( 150px );
              transform:rotateY(   0deg ) translateZ( 150px );
      }
      .three-d-item:nth-child(2){
      -webkit-transform:rotateX( 180deg ) translateZ( 150px );
         -moz-transform:rotateX( 180deg ) translateZ( 150px );
          -ms-transform:rotateX( 180deg ) translateZ( 150px );
           -o-transform:rotateX( 180deg ) translateZ( 150px );
              transform:rotateX( 180deg ) translateZ( 150px );
      }
      .three-d-item:nth-child(3){
      -webkit-transform:rotateY(  90deg ) translateZ( 150px );
         -moz-transform:rotateY(  90deg ) translateZ( 150px );
          -ms-transform:rotateY(  90deg ) translateZ( 150px );
           -o-transform:rotateY(  90deg ) translateZ( 150px );
              transform:rotateY(  90deg ) translateZ( 150px );
      }
      .three-d-item:nth-child(4){
      -webkit-transform:rotateY( -90deg ) translateZ( 150px );
         -moz-transform:rotateY( -90deg ) translateZ( 150px );
          -ms-transform:rotateY( -90deg ) translateZ( 150px );
           -o-transform:rotateY( -90deg ) translateZ( 150px );
              transform:rotateY( -90deg ) translateZ( 150px );
      }
      .three-d-item:nth-child(5){
      -webkit-transform:rotateX(  90deg ) translateZ( 150px );
         -moz-transform:rotateX(  90deg ) translateZ( 150px );
          -ms-transform:rotateX(  90deg ) translateZ( 150px );
           -o-transform:rotateX(  90deg ) translateZ( 150px );
              transform:rotateX(  90deg ) translateZ( 150px );
      }
      .three-d-item:nth-child(6){
      -webkit-transform:rotateX( -90deg ) translateZ( 150px );
         -moz-transform:rotateX( -90deg ) translateZ( 150px );
          -ms-transform:rotateX( -90deg ) translateZ( 150px );
           -o-transform:rotateX( -90deg ) translateZ( 150px );
              transform:rotateX( -90deg ) translateZ( 150px );
      }
      .a:checked ~ .three-d-cube{
      -webkit-transform:translateZ( -150px ) rotateY(    0deg );
         -moz-transform:translateZ( -150px ) rotateY(    0deg );
          -ms-transform:translateZ( -150px ) rotateY(    0deg );
           -o-transform:translateZ( -150px ) rotateY(    0deg );
              transform:translateZ( -150px ) rotateY(    0deg );
      }
      .b:checked ~ .three-d-cube{
      -webkit-transform:translateZ( -150px ) rotateX( -180deg );
         -moz-transform:translateZ( -150px ) rotateX( -180deg );
          -ms-transform:translateZ( -150px ) rotateX( -180deg );
           -o-transform:translateZ( -150px ) rotateX( -180deg );
              transform:translateZ( -150px ) rotateX( -180deg );
      }
      .c:checked ~ .three-d-cube{
      -webkit-transform:translateZ( -150px ) rotateY(  -90deg );
         -moz-transform:translateZ( -150px ) rotateY(  -90deg );
          -ms-transform:translateZ( -150px ) rotateY(  -90deg );
           -o-transform:translateZ( -150px ) rotateY(  -90deg );
              transform:translateZ( -150px ) rotateY(  -90deg );
      }
      .d:checked ~ .three-d-cube{
      -webkit-transform:translateZ( -150px ) rotateY(   90deg );
         -moz-transform:translateZ( -150px ) rotateY(   90deg );
          -ms-transform:translateZ( -150px ) rotateY(   90deg );
           -o-transform:translateZ( -150px ) rotateY(   90deg );
              transform:translateZ( -150px ) rotateY(   90deg );
      }
      .e:checked ~ .three-d-cube{
      -webkit-transform:translateZ( -150px ) rotateX(  -90deg );
         -moz-transform:translateZ( -150px ) rotateX(  -90deg );
          -ms-transform:translateZ( -150px ) rotateX(  -90deg );
           -o-transform:translateZ( -150px ) rotateX(  -90deg );
              transform:translateZ( -150px ) rotateX(  -90deg );
      }
      .f:checked ~ .three-d-cube{
      -webkit-transform:translateZ( -150px ) rotateX(   90deg );
         -moz-transform:translateZ( -150px ) rotateX(   90deg );
          -ms-transform:translateZ( -150px ) rotateX(   90deg );
           -o-transform:translateZ( -150px ) rotateX(   90deg );
              transform:translateZ( -150px ) rotateX(   90deg );
      }
      .content-area{
         border-left:6px solid #ee7f60;
      }
      .three-d-bullet{
      margin:350px 10px 0 0;
      float:left;
      }
      .three-d-bullet:first-child{
      margin:350px 10px 0 88px;
      }
     h4:hover{
color: rgb(190, 5, 5);
transition: 1s;
      }
      
      .box-area:hover{
         box-shadow: -6px 0px 3px 0px rgb(190, 5, 5);
         border-left: #ee0000;
        transition: 1s all;
        border-radius: 20px;

      }
      #slider {
         position: relative;
         width: 50%;
         height: 32vw;
         margin: 0px auto;
         font-family: 'Helvetica Neue', sans-serif;
         perspective: 1400px;
         transform-style: preserve-3d;
       }
       
       
       #slider input[type=radio] {
         position: relative;
         top: 108%;
         left: 50%;
         width: 18px;
         height: 18px;
         margin: 0 15px 0 0;
         opacity: 0.4;
         transform: translateX(-83px);
         cursor: pointer;
       
         display: none;
       }
       
       
       #slider input[type=radio]:nth-child(5) {
         margin-right: 0px;
       }
       
       #slider input[type=radio]:checked {
         opacity: 1;
       }
       
       
       
       
       #slider label,
       #slider label img {
         position: absolute;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         color: white;
         font-size: 70px;
         font-weight: bold;
         border-radius: 3px;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         transition: transform 400ms ease;
       }
       
       
       #s1:checked~#slide1,
       #s2:checked~#slide2,
       #s3:checked~#slide3,
       #s4:checked~#slide4,
       #s5:checked~#slide5 {
         box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
         transform: translate3d(0%, 0, 0px);
       }
       
       #s1:checked~#slide2,
       #s2:checked~#slide3,
       #s3:checked~#slide4,
       #s4:checked~#slide5,
       #s5:checked~#slide1 {
         box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
         transform: translate3d(20%, 0, -100px);
       }
       
       
       #s1:checked~#slide3,
       #s2:checked~#slide4,
       #s3:checked~#slide5,
       #s4:checked~#slide1,
       #s5:checked~#slide2 {
         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
         transform: translate3d(40%, 0, -250px);
       }
       
       #s1:checked~#slide5,
       #s2:checked~#slide1,
       #s3:checked~#slide2,
       #s4:checked~#slide3,
       #s5:checked~#slide4 {
         box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
         transform: translate3d(-20%, 0, -100px);
       }
       
       #s1:checked~#slide4,
       #s2:checked~#slide5,
       #s3:checked~#slide1,
       #s4:checked~#slide2,
       #s5:checked~#slide3 {
         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
         transform: translate3d(-40%, 0, -250px);
       }
       .design {
         background-image: linear-gradient(to left top, #fd562a, rgba(211, 40, 83, .7), rgba(148, 31, 95, .8), #4f2155, #161634);
         border-radius: 0px 0px 20px 0px;
         width: 330px;
         height: 180px;
     }
     
     
     .outer {
         box-shadow: 10px 10px #fd562a;
     }
     
     .inner {
         background-image: linear-gradient(to left top, #fd562a, rgba(211, 40, 83, .7), rgba(148, 31, 95, .8), #4f2155, #161634);
     
     }
      .btn-area1 :hover{
         color:rgb(190, 5, 5);
         background-color: white;
      }
.icons-hover{
   width: 29px;
   height: 21px;
   border: 1px solid #fd562a ;
   color: #fd562a;
   border-radius: 5px;
}
.icons-hover:hover{
  background-color: rgb(250, 31, 31);
  color:white;
transition: 1s;
}
.text-center{
  list-style: none;
}

.list{
   list-style: none;
   margin-right: 22px;
 }
 .list a:hover{
   color: rgb(190, 5, 5) !important;
 }
 

.slider{
   height: 250px;
   margin: auto;
   position: relative;
   width: 90%;
   display: grid;
   place-items: center;

}
/* animation of end  */
.contaner {
   width: 85vmin;
   position: relative;
   transform: translate(-50%,-50%);
 top: 48%;
   left: 50%;

   overflow: hidden;
   border: 8px solid white;
   border-radius: 8px;
   box-shadow: 10px 25px 30px rgb(5, 5, 39) ;
   }
   .wapper{
       width: 100%;
       display: flex;
       animation: slide 16s infinite;
   }
   @keyframes slide{
       0%{
           transform: translateX(0);
       }
       25%{
           transform: translateX(0);
       }
       30%{
           transform: translateX(-100%);
       }
       50%{
           transform: translateX(-100%);
       }
       55%{
           transform: translateX(-200%);
       }
       75%{
           transform: translateX(-200%);
       }
       80%{
           transform: translateX(-300%);
       }
       100%{
           transform: translateX(-300%);
       }
   }
   .wapper img{
       width: 100%;
   }
